[east]
max_shot_time = 0 # disabled

[east.inout.mds]
mdsplus_connection_string = "mds.ipp.ac.cn"

[east.inout.sql]
db_name = "east_disruption"
driver = "MySQL"
host = "202.127.205.10"
port = 3306

[east.tests]
expected_failure_columns = [
  "aminor",
  "area",
  "beta_n",
  "beta_p",
  "beta_p_rt",
  "chisq",
  "dbetap_dt",
  "dli_dt",
  "dwmhd_dt",
  "e_equal_1_normalized",
  "greenwald_fraction",
  "h98",
  "ip_error_rt",
  "kappa",
  "kappa_area",
  "li",
  "li_rt",
  "mirnov_std",
  "mirnov_std_normalized",
  "n1rms",
  "n1rms_normalized",
  "n2rms",
  "n2rms_normalized",
  "n_equal_1_mode",
  "n_equal_1_phase",
  "p_input",
  "p_oh",
  "p_rad",
  "parea",
  "pchisq",
  "pconvergence",
  "pkappa_area",
  "pq0",
  "pqstar",
  "q0",
  "q95",
  "qstar",
  "rad_input_frac",
  "rad_loss_frac",
  "rmp_n_equal_1",
  "rmp_n_equal_1_phase",
  "wmhd",
  "wmhd_rt",
]
test_columns = [
  "aminor",
  "area",
  "beta_n",
  "beta_p",
  "beta_p_rt",
  "btor",
  "chisq",
  "dbetap_dt",
  "dipprog_dt",
  "dli_dt",
  "dwmhd_dt",
  "e_equal_1_normalized",
  "greenwald_fraction",
  "h98",
  "ip",
  "ip_error",
  "ip_error_normalized",
  "ip_error_rt",
  "kappa",
  "kappa_area",
  "li",
  "li_rt",
  "mirnov_std",
  "mirnov_std_normalized",
  "n1rms",
  "n1rms_normalized",
  "n2rms",
  "n2rms_normalized",
  "n_e",
  "n_equal_1_mode",
  "n_equal_1_phase",
  "p_ecrh",
  "p_icrf",
  "p_input",
  "p_lh",
  "p_lh_rt",
  "p_nbi",
  "p_nbi_rt",
  "p_oh",
  "p_rad",
  "p_rad_rt",
  "paminor",
  "parea",
  "pbeta_n",
  "pbeta_p",
  "pchisq",
  "pconvergence",
  "pkappa",
  "pkappa_area",
  "pli",
  "pq0",
  "pq95",
  "pqstar",
  "prad_peaking",
  "pwmhd",
  "q0",
  "q95",
  "q95_rt",
  "qstar",
  "rad_input_frac",
  "rad_loss_frac",
  "rmp_n_equal_1",
  "rmp_n_equal_1_phase",
  "time_until_disrupt",
  "v_loop",
  "wmhd",
  "wmhd_rt",
  "z_error",
  "z_error_lmsz",
  "z_error_lmsz_normalized",
  "zcur",
  "zcur_lmsz",
  "zcur_lmsz_normalized",
]

[east.tests.shots]
disrup1_fast = 55012
disrup2_full = 56020
disrup3_full = 56549
disrup4_full = 57508
