anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==22.2.0
backcall==0.1.0
beautifulsoup4==4.11.1
bleach==5.0.1
boto==2.49.0
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==2.1.1
Click==7.0
contourpy==1.0.6
cycler==0.11.0
Cython==0.29.14
dask==2.9.1
dbus-python==1.2.16
debugpy==1.6.4
decorator==4.4.1
defusedxml==0.7.1
-e git+git@github.com:crea-psfc/disruption-warning-db-workflow.git@51c1ff283467185ffeb69b0d550e3535e3e07217#egg=disruption_py
distro==1.4.0
docopt==0.6.2
docwriter==1.2
entrypoints==0.4
exceptiongroup==1.1.0
fastjsonschema==2.16.2
filechunkio==1.8
fonttools==4.38.0
future==0.18.2
graphviz==0.20.1
h5py==2.10.0
htmlmin==0.1.12
hypothesis==5.1.5
idna==3.4
importlib-metadata==5.1.0
importlib-resources==5.10.0
iniconfig==1.1.1
install==1.3.5
ipykernel==6.17.1
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==8.0.2
JayDeBeApi==1.2.3
jedi==0.15.2
Jinja2==2.10.3
joblib==1.2.0
JPype1==1.4.1
jsmin==2.2.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==7.4.8
jupyter-console==6.4.4
jupyter-core==5.1.0
jupyter-server==1.23.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
libxml2-python3==2.9.5
livereload==2.6.1
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==2.1.1
matplotlib==3.1.2
matplotlib-inline==0.1.6
MDSplus==1.0
meson==0.53.0
mistune==2.0.4
mkdocs==1.0.4
mkdocs-material==4.6.0
mkdocs-minify-plugin==0.2.1
more-itertools==8.1.0
mpi4py==3.1.4
mpmath==1.1.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
netCDF4==1.5.3
ninja==1.9.0.post1
notebook==6.5.2
notebook-shim==0.2.2
numexpr==2.7.1
numpy==1.18.1
packaging==22.0
pandas==0.25.3
pandocfilters==1.5.0
parso==0.5.2
pep562==1.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.4.11
pkgutil-resolve-name==1.3.10
platformdirs==2.5.4
pluggy==1.0.0
prometheus-client==0.15.0
prompt-toolkit==3.0.2
psutil==5.9.4
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.8.1
pycairo==1.18.2
pycparser==2.21
pyFFTW==0.11.1
Pygments==2.5.2
PyGObject==3.34.0
pymdown-extensions==6.2.1
pymssql==2.1.4
PyMySQL==1.0.2
pyodbc==4.0.28
pyparsing==3.0.9
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyrsistent==0.19.2
pytest==7.2.0
python-dateutil==2.8.2
python3-D3D==4.40.3
python3-datautils==3.5.0
python3-ppgplot==3.0.7
python3-ptdata==3.0.4
python3-screens==3.0.3
pytz==2022.7
PyYAML==5.3
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
requests==2.28.1
scikit-learn==0.24.0
scipy==1.4.1
Send2Trash==1.8.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.1.0
soupsieve==2.3.2.post1
sympy==1.5.1
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
traitlets==4.3.3
treelib==1.6.1
uda==0.0.0
urllib3==1.26.13
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.3
yarg==0.1.9
zipp==3.11.0
