[default]
max_shot_time = 7.0 # [s]
time_const = 1e-6

[default.tests]
match_fraction = 0.95 # Fraction of signals that must match between MDSplus and SQL
val_tolerance = 0.01 # Tolerance for comparing values between MDSplus and SQL
verbose_output = true
