[default]
max_processes = 10
time_const = 1e-6

[default.inout.sql]
protected_columns = ["shot", "time"]
write_database_table_name = "disruption_warning_test"

[default.tests]
match_fraction = 0.95 # Fraction of signals that must match between MDSplus and SQL
val_tolerance = 0.01 # Tolerance for comparing values between MDSplus and SQL
verbose_output = true
